<div class="content-wrapper" style="background-color: #FFFFFF; "> 
    <div  class="m-4" >
<div style="display: flex; flex-direction: row; justify-content: space-between; " >
    <div  class="addingNewRoleUser ">User Roles</div>
    <!-- <button class="addNewRoleAndUserButton"><i class="fa-light fa-plus"></i> <a >Assign new role</a></button> -->
    <a  [routerLink]="['/home/userRolesComponent/addUsereRole']" class="addNewRoleAndUserButton "><i class="fa-light fa-plus "></i> Assign new role</a>
</div>
<hr>
<div style=" display: flex;  justify-content: right;">

    <button class="exportButton mat-elevation-z8" mat-raised-button color="primary"  (click)="ExportTOExcel()"  >Export as Excel</button></div>
    	<!-- <div>{{data[0]}}</div>  -->
        <div  class="example-container mat-elevation-z8" #Table>
	<mat-table  #table [dataSource]="dataSource" multiTemplateDataRows  matSort   >
        <ng-container  [matColumnDef]="column" *ngFor="let column of displayedColumns1">
          <mat-header-cell style="background-color: #F4F4F4;" *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
          <mat-cell  *matCellDef="let element"> {{element[column]}} </mat-cell >
  </ng-container>

      <ng-container matColumnDef="action" >
          <mat-header-cell   style="background-color: #F4F4F4;" *matHeaderCellDef > Edit </mat-header-cell>
          <mat-cell *matCellDef="let element">
              <button  mat-icon-button  class="matIconButton" matTooltip="Edit" (click)=" editRow(element)"
            >
              <mat-icon>edit</mat-icon>
              
      </button>
 
  
    </mat-cell>
      </ng-container>	
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></mat-row>
    
  </mat-table>
</div>
  <mat-paginator class="paginator" #MatPaginator  showFirstLastButtons pageSize="6"></mat-paginator>
</div>

</div>