<div style=" display: flex;  justify-content: leftight;">

<button style=" width: 120px; height: 35px; border-radius: 10px; border: 1px solid #43425D;
" mat-raised-button color="primary"   >Export as Excel</button></div>
<div  class="example-container mat-elevation-z8" #Table>
	<!-- <div>{{data[0]}}</div>  -->
	<mat-table  #table [dataSource]="dataSource" multiTemplateDataRows     >
		  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns1">
			<mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
	</ng-container>
<!-- Expanded Content Column - The detail row is made up of this one column -->
		<ng-container matColumnDef="expandedDetail">
      <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
			<mat-cell *matCellDef="let detail">
				The symbol for {{detail.Region}} is {{detail.branch_ID}}
			</mat-cell>
			
		</ng-container>
		<ng-container matColumnDef="action" >
			<mat-header-cell *matHeaderCellDef mat-sort-header> Know more </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<button  mat-icon-button *ngIf="expandedElement != element" style="text-decoration: none; border: none; background-color: #FFFFFF;"
                [class.expanded]="expandedElement == element"
                (click)="expandedElement = element">
                <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
				<button  mat-icon-button *ngIf="expandedElement == element"  style="text-decoration: none; border: none; background-color: #FFFFFF;"
                [class.expanded]="expandedElement == undefined"
                (click)="expandedElement = undefined">
                <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
			</mat-cell>
		</ng-container>	
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></mat-row>
		<mat-row *matRowDef="let row; columns: ['expandedDetail'];"
			[@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'" style="overflow: hidden">
		</mat-row>
	</mat-table>
	<mat-paginator class="paginator" #MatPaginator pageSize="6"></mat-paginator>
</div>

<!-- <button (click)="bb()" >click</button> -->
	

