
<div class="content-wrapper" style="background-color: #FFFFFF;"> 
    <div  class="m-4" >

<div style=" display: flex;  justify-content: leftight;">

<button class="exportButton" mat-raised-button color="primary" (click)="ExportTOExcel()"  >Export as Excel</button></div>
<div  class="example-container mat-elevation-z8" #Table>
	<!-- <div>{{data[0]}}</div>  -->
	<mat-table  #table [dataSource]="dataSource" multiTemplateDataRows matSort  class="mat-elevation-z8"  >
		  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns1">
			<th mat-header-cell style="background-color: #F4F4F4;" *matHeaderCellDef mat-sort-header> {{column}} </th>
			<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
	</ng-container>
<!-- Expanded Content Column - The detail row is made up of this one column -->
		<ng-container matColumnDef="expandedDetail">
      <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
			<mat-cell *matCellDef="let detail">
				The symbol for {{detail.Region}} is {{detail.branch_ID}}
			</mat-cell>
			
		</ng-container>
		<ng-container matColumnDef="action" >
			<th mat-header-cell style="background-color: #F4F4F4;"  *matHeaderCellDef > Know more </th>
			<td mat-cell *matCellDef="let element">
				<button  mat-icon-button *ngIf="expandedElement != element" style="text-decoration: none; border: none; background-color: #FFFFFF;"
                [class.expanded]="expandedElement == element"
                (click)="expandedElement = element">
                <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
				<button  mat-icon-button *ngIf="expandedElement == element"  style="text-decoration: none; border: none; background-color: #FFFFFF;"
                [class.expanded]="expandedElement == undefined"
                (click)="expandedElement = undefined">
                <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
	</td>
		</ng-container>	
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail'];"
			[@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'" style="overflow: hidden">
	</tr>
	</mat-table>
	<mat-paginator class="paginator" #MatPaginator  showFirstLastButtons pageSize="4"></mat-paginator>
</div>
</div></div>
<!-- <button (click)="bb()" >click</button> -->
	

