
<div class="content-wrapper" style="background-color: #FFFFFF;"> 
    <div  class="m-4" >

<div style=" display: flex;  justify-content: leftight;">

<button class="exportButton" (click)="ExportTOExcel()" mat-raised-button color="primary"  
  >Export as Excel</button></div>
<div class="example-container " #Table>
	<!-- <div>{{data[0]}}</div>  -->
	<mat-table   #table [dataSource]="dataSource" multiTemplateDataRows matSort
	
	   >
		  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns1">
			<mat-header-cell style="background-color: #F4F4F4;" *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
	</ng-container>
<!-- Expanded Content Column - The detail row is made up of this one column -->
		<ng-container matColumnDef="expandedDetail"  >
			<td mat-cell *matCellDef="let element" [attr.colspan]="expandableColumn.length "  [style.padding]="'20px'"  [style.background-color]="'#F4F4F4'" [style.width]="'100%'" [style.text-align]="'center'" >
					<ng-container style="display: flex; flex-direction: row; background-color: #F4F4F4; " >
						<table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 mat-table-without-lines">
						
							<ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns2">
								<th mat-header-cell  style="text-align: center;" *matHeaderCellDef> {{column}} </th>
								<td mat-cell style="text-align: center;"  *matCellDef="let element"> {{element[column]}} </td>
							  </ng-container>
							
							  <!-- <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns2">
								<th mat-header-cell *matHeaderCellDef> column </th>
								<mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
						</ng-container> -->
							
							  <!-- Table header -->
							  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
							
							  <!-- Table data rows -->
							  <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
					</table>
					</ng-container>
			  </td>
			
		</ng-container>
		<ng-container matColumnDef="action" >
			<mat-header-cell style="background-color: #F4F4F4;"  *matHeaderCellDef > Know more </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<button  mat-icon-button *ngIf="expandedElement != element" style="text-decoration: none; border: none; background-color: #FFFFFF;"
                [class.expanded]="expandedElement == element"
                (click)="expandedElement = element">
                <mat-icon>add_circle_outline</mat-icon>
        </button>
				<button  mat-icon-button *ngIf="expandedElement == element"  style="text-decoration: none; border: none; background-color: #FFFFFF;"
                [class.expanded]="expandedElement == undefined"
                (click)="expandedElement = undefined">
                <mat-icon>cancel</mat-icon>
        </button>
	</mat-cell>
		</ng-container>	
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></mat-row>
		<mat-row *matRowDef="let row; columns: ['expandedDetail'];"
			[@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'" style="overflow: hidden">
	</mat-row>
	</mat-table>
	<mat-paginator class="paginator" #MatPaginator  showFirstLastButtons pageSize="4"></mat-paginator>
</div>
</div></div>
<!-- <button (click)="bb()" >click</button> -->
	

