.mat-table-without-lines {
    border-collapse: collapse;
   
  }
  
  .mat-table-without-lines td,
  .mat-table-without-lines th {
    border: none;
  }


   tr.mat-mdc-row:hover {
      background-color: lightgray;
  }