



<div class="content-wrapper" style="background-color: #FFFFFF; ">
    <div class="m-4">
        <div style="display: flex; flex-direction: row; justify-content: space-between; ">
            <div class="addingNewRoleUser">Edit role</div>
            <a style="display: flex;" [routerLink]="['/home/rolesComponent/role']" class="addNewRoleAndUserButton">
                <mat-icon>chevron_left</mat-icon>   
                <div><a>Back to list</a></div>
            </a>

        </div>
        <hr>
        <form [formGroup]="form">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 2rem; text-align: center;">
                <div class="d-flex flex-column justify-content-around">
                    <div class="inputLables" >
                        <div style="order: 1;" class="pt-1">
                            <h6>Roll Title:</h6>
                        </div>
                        <div style=" order: 2;
                        margin-left: auto;" class="mainMultiselect">
                            <input class="inputBox" formControlName="Name" placeholder="Enter title">
                        </div>
                    </div>






                    <div class="inputLables">
                        <div style="order: 1;"  class="pt-1">
                            <h6>View:</h6>
                        </div>
                        <div  style=" order: 2;
                        margin-left: auto;"  class="mainMultiselect">
                            <ng-multiselect-dropdown formControlName="View" [placeholder]="'Select view access'"
                                [settings]="dropdownSettingsForView" [data]="view"
                                >
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>


                <div class="d-flex flex-column justify-content-around" style="margin-top: 20px;">




                    <div  class="inputLables">
                        <div style="order: 1; margin-bottom: 20px;" >
                            <h6>Roll Access:</h6>
                        </div>
                        <mat-form-field style=" order: 2;
                        margin-left: auto; margin-top: auto;"  appearance="fill"  >
                            <mat-select  placeholder="Select roll access" disableRipple  formControlName="RoleAccess">
                              <mat-option *ngFor="let i of roll_access" [value]="i">{{i}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>



                    <div class="inputLables">
                        <div style="order: 1; margin-bottom: 20px;" >
                            <h6>Rights:</h6>
                        </div>

                            <mat-form-field style=" order: 2;
                            margin-left: auto; margin-top: auto;" appearance="fill">
                                <mat-select  placeholder="Select Rights/Permissions"  formControlName="Rights" disableRipple>
                                  <mat-option *ngFor="let right of rights" [value]="right">{{right}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                    </div>



                </div>




                <div class="d-flex flex-column justify-content-around">


                    <div  class="inputLables">
                        <div style="order: 1;">
                            <h6>Roll desc:</h6>
                           
                        </div>
                        <div  style=" order: 2;
                        margin-left: auto;"  class="mainMultiselect">

                            <textarea class="inputBox" placeholder="Enter Role Description"   formControlName="Description"></textarea>

                        </div>
                    </div>

                    <div  style="text-align: right;" >
                  <div  >
                     <button  class="submitButton" (click)="submitbutton()">submit</button>
                  </div>
                    </div>

                </div>
            </div>  
            <hr>
        </form>
    </div>
</div>