<div class="content-wrapper" style="background-color: #FFFFFF; ">
    <div class="m-4">
        <div class="d-flex justify-content-between">
            <div class="addingNewRoleUser">Edit assgined role</div>
           <a style="display: flex;"  [routerLink]="['/home/userRolesComponent/usereRole']" class="addNewRoleAndUserButton">	<mat-icon>chevron_left</mat-icon> <div><a>Back to list</a></div></a>
           
        </div>
        <hr>
            <div style="display: flex; flex-direction: column; flex-wrap: wrap; gap: 2rem; text-align: center; ">
                <div class="d-flex flex-row justify-content-around" >
                  
                    <div  class="inputLables">
                        <div >
                            <h6  style="font-weight: 600;">User Name:</h6>
                        </div>
                        <div class="inputLables userToEditassginedRole" >


                              <h5>{{user}}</h5>
                           
                        </div>
                    </div>


                    <div class="inputLables">
                        <div  >
                            <h6 style="font-weight: 600;">Role Title:</h6>
                        </div>
                        <div >





                            <mat-form-field style="margin-top: 1rem;" class="example-full-width" appearance="fill">
                                <mat-label>Select a role</mat-label>
                                <input type="text" matInput [formControl]="role"  [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" 
                                [displayWith]="displayFnOfRoles">
                                  <mat-option *ngFor="let option of filteredOptionsOfRoles | async" [value]="option"  (click)="selectOptionOfRole(option)">
                                    {{option.Role}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>


                           















                        </div>
                    </div>
                    <div class="mainMultiselect" style="display: inline-block; width:  30%; margin-top: 1.5rem; text-align: center;">
                        <button class="submitButton" (click)="submitbutton()">submit</button>
                    </div>
                </div>

                
            </div>
            <hr>
    </div>
</div>