button{
    border: none;
}
.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
.modal-main{
    z-index:1060
  }
  .modal-backdrop
  {
    z-index:1040
  }
