<div class="content-wrapper" style="background-color: #FFFFFF; "> 
    <div  class="m-4" >
<div style="display: flex; flex-direction: row; justify-content: space-between; " >
    <div style="text-align: left;
    font: normal normal bold 20px/17px Montserrat;
    letter-spacing: 0.5px;
    color: #43425D;
    opacity: 1;">Users</div>
   <a  [routerLink]="['/home/userComponent/addUser']" class="addNewRoleAndUserButton"><i class="fa-light fa-plus"></i> Add new user</a>
   <!-- <a 
   [routerLink]="['/home/userComponent/addUser']">click</a> -->
   
</div>
<hr>
<div style=" display: flex;  justify-content: right;">

    <button class="exportButton mat-elevation-z8" mat-raised-button color="primary" (click)="ExportTOExcel()"  >Export as Excel</button></div>
    	<!-- <div>{{data[0]}}</div>  -->
        <div  class="example-container mat-elevation-z8" #Table   >
	<mat-table   #table [dataSource]="dataSource" multiTemplateDataRows   matSort>
        <ng-container   [matColumnDef]="column" *ngFor="let column of displayedColumns1">
          <mat-header-cell style="background-color: #F4F4F4;"     *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
          <mat-cell  *matCellDef="let element "> {{element[column]}} </mat-cell>
          <!-- <mat-form-field style="width: 70px;" >
            <input matInput type="text" formControlName=column [readonly]="true">
          </mat-form-field> -->
  </ng-container>

      <ng-container matColumnDef="action" >
          <mat-header-cell style="background-color: #F4F4F4;" *matHeaderCellDef > Delete/Edit </mat-header-cell>
          <mat-cell *matCellDef="let element">
              <button  mat-icon-button class="matIconButton" matTooltip="Edit" (click)=" editRow(element)"
              >
              <mat-icon>edit</mat-icon>
              
      </button>
      <button   mat-icon-button  class="matIconButton" matTooltip="Delete"  (click)="openDialogOfDelete(element)"
      [class.expanded]="expandedElement == element"
      (click)="expandedElement = element">
      <mat-icon>delete</mat-icon>
      
</button>
  
</mat-cell>
      </ng-container>	
      <mat-header-row  style=" overflow: hidden; text-overflow: ellipsis; word-break: break-word; "  mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row style=" overflow: hidden; text-overflow: ellipsis; word-break: break-word; "  *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></mat-row>
    
  </mat-table>
</div>
<div class="footerPaginator">
    <mat-paginator 
    #paginatorPageSize
    pageSize="6"
    showFirstLastButtons
  ></mat-paginator>
  </div>

</div>

</div>
<!-- <router-outlet></router-outlet> -->
