@media only screen and (max-width: 1115px ) {
    body {
        .mainMultiselect{
            width: 140px;
        }


        .inputBox {
            width: 140px;
          
        }

        .submitButton{
            width: 140px;
        }
    }
  }


  .submitButton{
    width: 220px; height: 40px; border-radius: 10px; border: 1px solid #43425D;
  }

