button{
    border: none;
}


.mainMultiselect{
    top: 91px;
    left: 1113px;
    width: 220px;
    height: 40px;
}
.inputBox {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    border-color: #999999 !important;
    border: solid 1.5PX;
}


@media only screen and (max-width: 1115px ) {
    body {
        .mainMultiselect{
            width: 140px;
        }


        .inputBox {
            width: 140px;
          
        }

        .submitButton{
            width: 140px;
        }
    }
  }


  .submitButton{
    width: 220px; height: 40px; border-radius: 10px; border: 1px solid #43425D;
  }




//   mat-form-field{
//     // border: 1px solid black;
//     // height: 40px;
//     background-color: red
//   }
  mat-form-field {
    height: 90%
    // background-color: #1a6d05;
  }

//   mat-select{
//     background-color: yellow;
//   }
//   mat-option{
//     background-color: pink;
//   }
//   mat-autocomplete{
//     background-color: #1a6d05;
//   }
