<div class="content-wrapper" style="background-color: #FFFFFF; "> 
    <div  class="m-4" >
<div style="display: flex; flex-direction: row; justify-content: space-between; " >
    <div style="text-align: left;
    font: normal normal bold 20px/17px Montserrat;
    letter-spacing: 0.5px;
    color: #43425D;
    opacity: 1;">Add new user</div>
   <a style="display: flex;"  [routerLink]="['/home/userRolesComponent/userRoles']" class="addNewRoleAndUserButton">	<mat-icon>chevron_left</mat-icon> <div><a>Back to list</a></div></a>
   
</div>
<hr>
</div></div>